<p id="notice"><%= notice %></p>

<h1>株価表示</h1>

<br>

<div class="panel panel-default">
  <div class="panel-body">
    <%= form_tag(:method => :post, multipart: true) do %>
      <div class="form-group">
        <%= file_field_tag :csv_file %>
      </div>
      <%= submit_tag "CSVインポート", :class => "btn btn-primary" %>
    <% end %>
  </div>
</div>

<br>

